html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
#app {
}
article {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.lm_popin {
  background-color: black;
}
.react-contextmenu-wrapper {
  width: 100%;
  height: 100%;
}
.react-contextmenu--visible {
  z-index: 21;
}

/* Fancy scrollbars. https://codepen.io/devstreak/pen/dMYgeO */
::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 8px;
}
::-webkit-scrollbar-track:hover
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, .15);
}
::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
::-webkit-scrollbar-thumb:hover
{
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #AAA;
}

/* Icon hack */
.octicon.valign-middle {
  vertical-align: middle;
}
